/** @format */

body {
  background-color: #222;
  box-sizing: border-box;
}

td {
  height: 100px;
  width: 200px;
  text-align: center;
  border: 5px solid black;
  font-size: 80px;
  color: gold;
  text-shadow: 2px 2px 30px cyan;
}

.text-title {
  text-align: center;
  font-size: 2rem;
  color: gold;
  text-shadow: 2px 2px 30px magenta;
  transition: font-size 0.3s, color 0.3s;
}
